################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BellTest
/BellTest/obj
/BellTest/bin/Debug
